<html data-theme="cupcake">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.7/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="tailwind.config.js"></script>
    <script src="https://www.jsviews.com/download/jsrender.js"></script>
</head>

<body>
    <div class="container mx-auto px-4">
        <h1 class="text-6xl font-bold text-center my-8">Productos</h1>
        <p class="text-xl text-center mb-4">Las mejores joyas tematicas estan en Jewernico.</p>
        <div class="flex justify-between items-center mb-4">
            <div class="flex space-x-4">
                <button class="btn btn-outline">Filtro</button>
                <select class="select select-bordered w-32" id="categorias">
                    <option disabled="disabled" selected="selected">Categoria</option>
                </select>
                <select class="select select-bordered w-32">
                    <option disabled="disabled" selected="selected">Price</option>
                    <option>Low to high</option>
                    <option>High to low</option>
                </select>
                <select class="select select-bordered w-32">
                    <option disabled="disabled" selected="selected">Sort by</option>
                    <option>Popularity</option>
                    <option>Newest</option>
                    <option>Rating</option>
                </select>
            </div>
        </div>
        <div class="grid grid-cols-3 gap-4" id="productos">
        </div>
    </div>
    <script id="productosJSRender" type="text/x-jsrender">
        {{for}}
        <a href="frontend/product.html?id={{>Id}}" class="card w-96 bg-base-100 shadow-xl">
          <figure>
            <img class="w-full max-h-72" src={{>Imagen}} alt="Producto" />
          </figure>
          {{if Descuento}}
            <div class="badge m-4 badge-secondary absolute">{{>Descuento}}%</div>
          {{/if}}
          <div class="card-body max-h-36 text-center">
            <p>{{>Nombre}}</p>
            <p>{{>Descripcion}}</p>
            <p>${{>Precio}}</p>
            {{if Stock}} 
              <p class="text-green-500">En stock</p>
            {{else}}
              <p class="text-red-500">Agotado</p>
            {{/if}}
          </div>
          <button class="btn btn-outline btn-primary mt-4">Añadir al carrito</button>
        </a>
        {{/for}}
      </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: "http://localhost/php_course/Jewernico/backend/categories",
                type: "GET",
                dataType: "json",
                success: function (response) {
                    for (let i = 0; i < response.length; i++) {
                        $("#categorias").append(
                            `<option value="${response[i].Id}">${response[i].Nombre}</option>`
                        );
                    }
                },
                error: function (xhr, status) {
                    console.log(xhr);
                },
            });
            $.ajax({
                url: "http://localhost/php_course/Jewernico/backend/products",
                type: "GET",
                dataType: "json",
                success: function (response) {
                    for (let i = 0; i < response.length; i++) {
                        response[i].Imagen = "http://picsum.photos/200/300";
                    }
                    let html = $("#productosJSRender").render(response);
                    $("#productos").html(html);
                },
                error: function (xhr, status) {
                    console.log(xhr);
                },
            });
        });
        $("#categorias").change(function () {
            let idCategoria = $(this).val();
            $.ajax({
                url: `http://localhost/php_course/Jewernico/backend/products/category/${idCategoria}`,
                type: "GET",
                dataType: "json",
                success: function (response) {
                    for (let i = 0; i < response.length; i++) {
                        response[i].Imagen = "http://picsum.photos/200/300";
                    }
                    let html = $("#productosJSRender").render(response);
                    $("#productos").html(html);
                },
                error: function (xhr, status) {
                    console.log(xhr);
                },
            });
        });
    </script>
    <script src="components/navbar.js"></script>
</body>

</html>