<!DOCTYPE html>
<html lang="en" data-theme="cupcake">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.7/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module" src="tailwind.config.js"></script>
  <script src="https://www.jsviews.com/download/jsrender.js"></script>
</head>

<body>
  <section class="sec1 flex mt-10 mx-10">
    <div id="textin" class="relative z-10 w-1/3 -mr-20 my-40 ml-10 p-16 overflow-hidden bg-gray-200 rounded-lg h-full">
      <h1 class="font-bold text-4xl mb-4">
        Lorem ipsum dolor sit, amet consectetur
      </h1>
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat.
      </p>
      <button class="btn btn-outline btn-primary mt-4">Comprar</button>
    </div>
    <div class="relative w-2/3 m-5 rounded-lg overflow-hidden">
      <img class="w-full h-full shadow-lg rounded-lg" src="https://picsum.photos/750/600" alt="Error" />
    </div>
  </section>

  <section class="sec2 mt-20 mx-10 mb-20">
    <h2 class="font-bold text-2xl mb-10">Shop our most trusted formulas</h2>

    <div id="productosAleatorios" class="flex space-x-4">
    </div>
  </section>


  <section class="sec3 bg-gray-200 p-20">
    <div class="mision text-center">
      <h2 class="text-4xl text-black">
        “Lorem ipsum dolor sit amet consectetur <br />
        adipisicing elit. Qui, voluptatem. Mollitia ullam <br />
        obcaecati deleniti voluptatum.”
      </h2>
      <p>Lorem ipsum dolor</p>
    </div>
  </section>

  <section class="sec4 mt-20 p-10 grid grid-cols-3 grid-rows-2">
    <a href="#" class="card m-7 bg-base-100 shadow-xl">
      <figure>
        <img class="w-full max-h-72" src="https://picsum.photos/200/400" alt="Producto" />
      </figure>
      <div class="card-body max-h-36 text-center">
        <p>Nombre del Producto</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
    </a>

    <a href="#" class="card m-7 bg-base-100 shadow-xl row-start-2">
      <figure>
        <img class="w-full max-h-72" src="https://picsum.photos/200/300" alt="Producto" />
      </figure>
      <div class="badge m-4 badge-secondary absolute">Nuevo</div>
      <div class="card-body max-h-36 text-center">
        <p>Nombre del Producto</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
    </a>

    <a href="#" class="card m-5  bg-base-100 shadow-xl col-span-2 row-span-2">
      <figure class="w-full">
        <img class="w-full h-[800px]" src="https://picsum.photos/200/500" alt="Producto" />
      </figure>
      <div class="card-body text-center">
        <p>Nombre del Producto</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      </div>
    </a>
  </section>


  <section class="sec5 flex text-justify">
    <div class="flex-1 p-5 m-5">
      <h1><i class=""></i></h1>
      <h3>Lorem ipsum</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
        excepturi iure.
      </p>
    </div>
    <div class="flex-1 p-5 m-5">
      <h1><i class=""></i></h1>
      <h3>Lorem ipsum</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
        excepturi iure.
      </p>
    </div>
    <div class="flex-1 p-5 m-5">
      <h1><i class=""></i></h1>
      <h3>Lorem ipsum</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
        excepturi iure.
      </p>
    </div>
    <div class="flex-1 p-5 m-5">
      <h1><i class=""></i></h1>
      <h3>Lorem ipsum</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
        excepturi iure.
      </p>
    </div>
  </section>

  <section class="sec6 flex m-5 p-5">
    <a href="#" class="col w-1/3 m-4">
      <div class="card">
        <img src="https://picsum.photos/200/300" class="max-h-72 w-full" />
        <div class="card-body">
          <h6 class="card-title">Lorem ipsum dolor</h6>
        </div>
      </div>
    </a>
    <a href="#" class="col w-1/3 m-4">
      <div class="card">
        <img src="https://picsum.photos/200/300" class="max-h-72 w-full" />
        <div class="card-body">
          <h6 class="card-title">Lorem ipsum dolor</h6>
        </div>
      </div>
    </a>
    <a href="#" class="col w-1/3 m-4">
      <div class="card">
        <img src="https://picsum.photos/200/300" class="max-h-72 w-full" />
        <div class="card-body">
          <h6 class="card-title">Lorem ipsum dolor</h6>
        </div>
      </div>
    </a>
  </section>

  <footer class="footer flex flex-col items-center">
    <div class="space-y-4 flex flex-col items-center">
      <h1 class="text-4xl font-bold">Obten un 20% de descuento en tu primer compra</h1>
      <p>Unete a nuestra lista de correos para ofertas exclusivas y las ultimas noticias</p>
      <input type="text" placeholder="Correo electronico" class="input input-bordered" />
    </div>
    <div class="flex flex-row max-w-2xl">
      <div class="flex flex-col">
        <h3 class="text-2xl font-bold">Nuestra tienda</h3>
        <p>Avenida Arqueros 1032, Aguascalientes, Mexico</p>
        <p clasS="font-bold">Lun - Vie</p>
        <p>9:00 - 18:00</p>
        <p clasS="font-bold">Sab - Dom</p>
        <p>9:00 - 14:00</p>
      </div>

      <div class="flex flex-col">
        <h3 class="text-2xl font-bold">Nuestra promesa</h3>
        <p>Crear e importar joyeria tematica de alta calidad, para cualquier ocacion</p>
      </div>
    </div>
  </footer>
  <script id="productWelcome" type="text/x-jsrender">
    {{for}}
    <a href="frontend/product.html?id={{>Id}}" class="card w-96 bg-base-100 shadow-xl">
      <figure>
        <img class="w-full max-h-72" src={{>Imagen}} alt="Producto" />
      </figure>
      {{if Descuento}}
        <div class="badge m-4 badge-secondary absolute">{{>Descuento}}%</div>
      {{/if}}
      <div class="card-body max-h-36 text-center">
        <p>{{>Nombre}}</p>
        <p>{{>Descripcion}}</p>
        <p>${{>Precio}}</p>
        {{if Stock}} 
          <p class="text-green-500">En stock</p>
        {{else}}
          <p class="text-red-500">Agotado</p>
        {{/if}}
      </div>
      <button class="btn btn-outline btn-primary mt-4">Añadir al carrito</button>
    </a>
    {{/for}}
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      $.ajax({
        url: "http://localhost/php_course/Jewernico/backend/products",
        type: "GET",
        dataType: "json",
        success: function (response) {
          for (let i = 0; i < response.length; i++) {
            response[i].Imagen = "http://picsum.photos/200/300";
          }
          let html = $("#productWelcome").render(response);
          console.log(html);
          $("#productosAleatorios").html(html);
        },
        error: function (xhr, status) {
          console.log(xhr);
        },
      });
    });
  </script>
  <script src="frontend/components/navbar.js"></script>
</body>

</html>