<div class="navbar bg-base-100">
	<div class="navbar-start">
		<div class="dropdown">
			<div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewbox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
				</svg>
			</div>
			<ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
				<li>
					<a href="/products">Productos</a>
				</li>
				<li>
					<a href="/contact">Contacto</a>
				</li>
				<li>
					<a href="/about-us">About Us</a>
				</li>
				<li>
					<a href="/faq">FAQ</a>
				</li>
			</ul>
		</div>
		<a href="/" class="btn btn-ghost text-xl">Jewernico</a>
	</div>
	<div class="navbar-center hidden lg:flex">
		<ul class="menu menu-horizontal px-1">
			<li>
				<a href="/products">Productos</a>
			</li>
			<li>
				<a href="/contact">Contacto</a>
			</li>
			<li>
				<a href="/about-us">About Us</a>
			</li>
			<li>
				<a href="/faq">FAQ</a>
			</li>
		</ul>
	</div>
	<div class="navbar-end">
		{% if session.user is defined and session.user is not null %}
			<div class="dropdown dropdown-end">
				<div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
					<div class="rounded-full w-10"></div>
				</div>
				<div tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
					<p class="text-lg pl-2 font-medium">Hola,
						{{ session.user.Name() }}</p>
					<ul class="menu">
						<li>
							<a href="/profile">Perfil</a>
						</li>
						{% if session.user.PermissionLevel() >= 1 %}
							<li>
								<a href="/admin">Admin</a>
							</li>
						{% endif %}
						<li>
							<a href="/logout" class="text-red-400">Cerrar sesión</a>
						</li>
					</ul>
				</div>
			</div>
		{% else %}
			<a href="/login" class="btn">
				Iniciar sesión</a>
		{% endif %}
	</div>
</div>
