{% extends 'layout.twig' %}

{% block content %}
	<main role="main" class="w-2/3 mx-auto my-8 space-y-8 flex justify-center flex-col">
		<h1 class="text-2xl font-semibold mb-6">Información de Pago</h1>

		<div class="mb-6 card shadow-xl bg-white">
			<h2 class="text-xl card-title font-semibold mt-4 ml-8">Tarjeta</h2>
			<div class="card-body grid grid-cols-1 md:grid-cols-2 gap-4">
				<div>
					<label class="block mb-2 text-gray-700" for="numeroTarjeta">Número de Tarjeta</label>
					<input id="numeroTarjeta" name="numeroTarjeta" type="text" class="w-full border rounded-md p-2 focus:outline-none focus:border-blue-500">
				</div>
				<div>
					<label class="block mb-2 text-gray-700" for="expiracion">Expiración</label>
					<input id="expiracion" name="expiracion" type="text" class="w-full border rounded-md p-2 focus:outline-none focus:border-blue-500">
				</div>
				<div>
					<label class="block mb-2 text-gray-700" for="nombreTarjeta">Nombre en la Tarjeta</label>
					<input id="nombreTarjeta" name="nombreTarjeta" type="text" class="w-full border rounded-md p-2 focus:outline-none focus:border-blue-500">
				</div>
				<div>
					<label class="block mb-2 text-gray-700" for="cvv">CVV</label>
					<input id="cvv" name="cvv" type="text" class="w-full border rounded-md p-2 focus:outline-none focus:border-blue-500">
				</div>
			</div>
		</div>

		<div class="mb-6 card shadow-xl bg-white">
			<h2 class="text-xl card-title font-semibold mt-4 ml-8">Envio</h2>
			<div class="card-body grid grid-cols-1 md:grid-cols-2 gap-4">
				<div>
					<label class="block mb-2 text-gray-700" for="pais">País</label>
					<input id="pais" name="pais" type="text" class="w-full border rounded-md p-2 focus:outline-none focus:border-blue-500">
				</div>
				<div>
					<label class="block mb-2 text-gray-700" for="estado">Estado</label>
					<input id="estado" name="estado" type="text" class="w-full border rounded-md p-2 focus:outline-none focus:border-blue-500">
				</div>
				<div>
					<label class="block mb-2 text-gray-700" for="codigoPostal">Código Postal</label>
					<input id="codigoPostal" name="codigoPostal" type="text" class="w-full border rounded-md p-2 focus:outline-none focus:border-blue-500">
				</div>
				<div>
					<label class="block mb-2 text-gray-700" for="ciudad">Ciudad</label>
					<input id="ciudad" name="ciudad" type="text" class="w-full border rounded-md p-2 focus:outline-none focus:border-blue-500">
				</div>
				<div>
					<label class="block mb-2 text-gray-700" for="calle">Calle</label>
					<input id="calle" name="calle" type="text" class="w-full border rounded-md p-2 focus:outline-none focus:border-blue-500">
				</div>
				<div>
					<label class="block mb-2 text-gray-700" for="numeroInterior">Número Interior</label>
					<input id="numeroInterior" name="numeroInterior" type="text" class="w-full border rounded-md p-2 focus:outline-none focus:border-blue-500">
				</div>
				<div>
					<label class="block mb-2 text-gray-700" for="numeroExterior">Número Exterior</label>
					<input id="numeroExterior" name="numeroExterior" type="text" class="w-full border rounded-md p-2 focus:outline-none focus:border-blue-500">
				</div>
			</div>
		</div>

		<div class="mb-6">
			<h2 class="text-xl font-semibold mb-2">Resumen de compra</h2>
			<table class="table">
				<thead>
					<tr>
						<th class="px-4 py-2">Producto</th>
						<th class="px-4 py-2">Cantidad</th>
						<th class="px-4 py-2">Precio</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="border px-4 py-2">Producto 1</td>
						<td class="border px-4 py-2">1</td>
						<td class="border px-4 py-2">$100.00</td>
					</tr>
					<tr>
						<td class="border px-4 py-2">Producto 2</td>
						<td class="border px-4 py-2">1</td>
						<td class="border px-4 py-2">$100.00</td>
					</tr>
					<tr>
						<td class="border px-4 py-2">Producto 3</td>
						<td class="border px-4 py-2">1</td>
						<td class="border px-4 py-2">$100.00</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Adicional -->
		<div class="mb-6">
			<h2 class="text-xl font-semibold mb-2">Adicional</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
				<div>
					<label class="block mb-2 text-gray-700" for="subtotal">Subtotal</label>
					<input id="subtotal" name="subtotal" type="text" class="w-full border rounded-md p-2 focus:outline-none focus:border-blue-500">
				</div>
				<div>
					<label class="block mb-2 text-gray-700" for="descuentoCupon">Descuento por Cupón</label>
					<input id="descuentoCupon" name="descuentoCupon" type="text" class="w-full border rounded-md p-2 focus:outline-none focus:border-blue-500">
				</div>
				<div>
					<label class="block mb-2 text-gray-700" for="impuesto">Impuesto</label>
					<input id="impuesto" name="impuesto" type="text" class="w-full border rounded-md p-2 focus:outline-none focus:border-blue-500">
				</div>
				<div>
					<label class="block mb-2 text-gray-700" for="costoEnvio">Costo de Envío</label>
					<input id="costoEnvio" name="costoEnvio" type="text" class="w-full border rounded-md p-2 focus:outline-none focus:border-blue-500">
				</div>
				<div>
					<label class="block mb-2 text-gray-700" for="total">Total</label>
					<input id="total" name="total" type="text" class="w-full border rounded-md p-2 focus:outline-none focus:border-blue-500">
				</div>
			</div>
		</div>
		<div class="flex justify-end">
			<button class="btn btn-primary">Pagar</button>
		</div>
	</div>
</main>{% endblock %}
