{% extends "layout.twig" %}

{% block content %}
    {% include 'partials/navbar.twig' %}
    <main role="main">
        <!-- CODIGO DEL PRODUCTO AQUI -->
        <!-- PARA ACCEDER A INFORMACION DEL PRODUCTO QUE SE ESTA VIENDO, SE PUEDE USAR LA VARIABLE "producto" -->
    </main>
{% endblock %}