<div class="ml-6 mt-6">
    <h1 class="text-2xl font-semibold text-gray-800">Productos</h1>
    <div class="card mt-6 mr-6 w-120 bg-base-100 shadow-xl">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <label>
                                <input type="checkbox" class="checkbox">
                            </label>
                        </th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Material</th>
                        <th>Categoria</th>
                        <th>Inventario</th>
                    </tr>
                </thead>
                <tbody id="productList"></tbody>
            </table>
        </div>
    </div>
</div>